<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="background-color: bl"
>
  <a class="navbar-brand" href="/adminHome">Biblioteca</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/revistasHome">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/saveMagazine">Guardar revistas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/updateMagazine"
          >Modificar revistas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/deleteMagazine"
          >Eliminar revistas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/listMagazine">listar revistas</a>
      </li>
      <li class="nav-item" id="activo">
        <a class="nav-link" id="activo" href="/searchMagazine"
          >Buscar revistas</a
        >
      </li>
    </ul>
  </div>
</nav>

<p>search-magazine works!</p>
