<div id="myDIV">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="background-color: bl"
  >
    <a class="navbar-brand" routerLink="/adminHome">Biblioteca</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="activo">
          <a class="nav-link" id="activo" id="btn" routerLink="/librosHome"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/saveBook">Guardar Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/updateBook"
            >Modificar Libro</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/deleteBook"
            >Eliminar Libro</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/listBooks">listar Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/searchBook">Buscar Libro</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="sdij fadeInDown">
  <h1 class="sdij-r2">Bienvenido! administrador</h1>
  <h1 class="sdij-r3">al apartado de</h1>
  <h1 class="sdij-r1">Libros</h1>
</div>
<div class="definition fadeInDown">
  <h1 class="sdij-r2">En este apartado Gracias a tus</h1>
  <h1 class="sdij-r1">PERMISOS</h1>
  <h1 class="sdij-r3">Puedes hacer multiples tareas</h1>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r2">Como:</h1>
  <br />
  <br />
  <h1 class="sdij-r4">Guardar los libros que quieras</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/disquete.png" />
  </div>
</div>
<div class="definition-left fadeInDown">
  <h1 class="sdij-r4" style="position: relative; left: 3.5%">
    Podras editar todos los libros que quieras
  </h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/editar.png" />
  </div>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r4">Eliminar los libros que quieras</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/eliminar.png" />
  </div>
</div>
<div class="definition-left fadeInDown">
  <h1 class="sdij-r4" style="position: relative; left: 3.5%">
    Buscar los libros que necesites
  </h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/lupa.png" />
  </div>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r4">Y podras ver todos tus registros</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/portapapeles.png" />
  </div>
</div>
