<div id="myDIV">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="background-color: bl"
  >
    <a class="navbar-brand" href="/home">Biblioteca</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="btn" href="/homeBook">Inicio</a>
        </li>
        <li class="nav-item" id="activo">
          <a class="nav-link" id="activo" id="btn" href="/prestaLibro"
            >Prestar Libro</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" href="/devolverLibro">Devolver Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" href="/buscarLibro">Buscar Libro</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<p>libros-user-home works!</p>
