<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="background-color: bl"
>
  <a class="navbar-brand" routerLink="/adminHome">Biblioteca</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          routerLink="/userHome"
          routerLinkActive="active"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          routerLink="/saveUser"
          routerLinkActive="active"
          >Guardar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          routerLink="/updateUser"
          routerLinkActive="active"
          >Modificar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          routerLink="/deleteUser"
          routerLinkActive="active"
          >Eliminar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          routerLink="/listUser"
          routerLinkActive="active"
          >listar Usuarios</a
        >
      </li>
      <li class="nav-item" id="activo">
        <a
          class="nav-link"
          id="activo"
          routerLink="/searchUser"
          routerLinkActive="active"
          >Buscar Usuarios</a
        >
      </li>
    </ul>
  </div>
</nav>
<p>search-user works!</p>
