<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="background-color: bl"
>
  <a class="navbar-brand" routerLink="/adminHome">Biblioteca</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" id="activo">
        <a class="nav-link" id="btn" id="activo" routerLink="/revistasHome"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" routerLink="/saveMagazine"
          >Guardar revistas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" routerLink="/updateMagazine"
          >Modificar revistas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" routerLink="/deleteMagazine"
          >Eliminar revistas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" routerLink="/listMagazine"
          >listar revistas</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" routerLink="/searchMagazine"
          >Buscar revistas</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="sdij fadeInDown">
  <h1 class="sdij-r2">Bienvenido! administrador</h1>
  <h1 class="sdij-r3">al apartado de</h1>
  <h1 class="sdij-r1">Revistas</h1>
</div>
<div class="definition fadeInDown">
  <h1 class="sdij-r2">En este apartado Gracias a tus</h1>
  <h1 class="sdij-r1">PERMISOS</h1>
  <h1 class="sdij-r3">Puedes hacer multiples tareas</h1>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r2">Como:</h1>
  <br />
  <br />
  <h1 class="sdij-r4">Guardar las revistas que quieras</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/disquete.png" />
  </div>
</div>
<div class="definition-left fadeInDown">
  <h1 class="sdij-r4" style="position: relative; left: 3.5%">
    Podras editar todas las revistas que quieras
  </h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/editar.png" />
  </div>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r4">Eliminar las revistas que quieras</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/eliminar.png" />
  </div>
</div>
<div class="definition-left fadeInDown">
  <h1 class="sdij-r4" style="position: relative; left: 3.5%">
    Buscar las revistas que necesites
  </h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/lupa.png" />
  </div>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r4">Y podras ver todos tus registros</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/portapapeles.png" />
  </div>
</div>
