<div class="homenav">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="background-color: bl"
  >
    <a class="navbar-brand">Biblioteca</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="" routerLinkActive="active"
            >inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="btn"
            routerLink="/login"
            routerLinkActive="active"
            >login</a
          >
        </li>
        <li class="nav-item" id="activo">
          <a
            class="nav-link"
            id="btn"
            routerLink="/about"
            routerLinkActive="active"
            >about</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="lta fadeInDown">
  <div class="lta-wrapper">
    <h1 class="lta-r1">
      <span class="lta-source"
        ><img
          class="image"
          src="../../../../../assets/img/image_123923953(1).JPG" /></span
      >Hola! Me presento
    </h1>
    <h1 class="lta-r2">Mi nombre es Cristian Toma</h1>
    <h1 class="lta-r3">y tengo 18 años</h1>
    <h1 class="lta-r3">2018-275</h1>
  </div>
</div>
<div class="sobremi fadeInDown">
  <h2 class="lta-r4">Soy un estudiante del ultimo año de la carrera de</h2>
  <h2 class="lta-r4">
    perito en informática en el Centro Educativo Técnico Laboral "KINAL"
  </h2>
</div>
