<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="background-color: bl"
>
  <a class="navbar-brand" href="/adminHome">Biblioteca</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" id="activo">
        <a
          class="nav-link"
          id="activo"
          href="/userHome"
          routerLinkActive="active"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/saveUser" routerLinkActive="active"
          >Guardar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          href="/updateUser"
          routerLinkActive="active"
          >Modificar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          href="/deleteUser"
          routerLinkActive="active"
          >Eliminar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn" href="/listUser" routerLinkActive="active"
          >listar Usuarios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="btn"
          href="/searchUser"
          routerLinkActive="active"
          >Buscar Usuarios</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="sdij fadeInDown">
  <h1 class="sdij-r2">Bienvenido! administrador</h1>
  <h1 class="sdij-r3">al apartado de</h1>
  <h1 class="sdij-r1">Usuarios</h1>
</div>
<div class="definition fadeInDown">
  <h1 class="sdij-r2">En este apartado Gracia a tus</h1>
  <h1 class="sdij-r1">PERMISOS</h1>
  <h1 class="sdij-r3">Puedes hacer multiples tareas</h1>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r2">Como:</h1>
  <br />
  <br />
  <h1 class="sdij-r4">Guardar los usuarios que quieras</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/disquete.png" />
  </div>
</div>
<div class="definition-left fadeInDown">
  <h1 class="sdij-r4" style="position: relative; left: 3.5%">
    Podras editar todos los usuarios que quieras
  </h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/editar.png" />
  </div>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r4">Eliminar los usuarios que quieras</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/eliminar.png" />
  </div>
</div>
<div class="definition-left fadeInDown">
  <h1 class="sdij-r4" style="position: relative; left: 3.5%">
    Buscar los usuarios que necesites
  </h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/lupa.png" />
  </div>
</div>
<div class="sdij-left fadeInDown">
  <h1 class="sdij-r4">Y podras ver todos tus registros</h1>
  <div class="iconos fadeInDown">
    <img class="imagenes" src="../../../../../assets/img/portapapeles.png" />
  </div>
</div>
