<div id="myDIV">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    style="background-color: bl"
  >
    <a class="navbar-brand" href="adminHome">Biblioteca</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/librosHome">Inicio</a>
        </li>
        <li class="nav-item" id="activo">
          <a class="nav-link" id="activo" id="btn" routerLink="/saveBook"
            >Guardar Libro</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/updateBook"
            >Modificar Libro</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/deleteBook"
            >Eliminar Libro</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/listBooks">listar Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="btn" routerLink="/searchBook">Buscar Libro</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<br />
<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-12">
        <h1 class="letras">Guardar libros</h1>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 contact-form">
              <form class="form-signin" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-xs-6 col-md-6 form-group">
                    <input
                      class="form-control"
                      [(ngModel)]="book.author"
                      id="author"
                      name="author"
                      placeholder="Autor del libro"
                      type="text"
                    />
                  </div>
                  <div class="col-xs-4 col-md-6 form-group">
                    <input
                      class="form-control"
                      [(ngModel)]="book.title"
                      id="title"
                      name="title"
                      placeholder="Titulo del libro"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-xs-4 col-md-13 form-group">
                  <div class="controls">
                    <input
                      class="form-control"
                      [(ngModel)]="book.edition"
                      id="edition"
                      name="edition"
                      placeholder="edicion del libro"
                      type="text"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6 col-md-6 form-group">
                    <input
                      class="form-control"
                      [(ngModel)]="book.keyWords"
                      id="keyWords"
                      name="keyWords"
                      placeholder="Palabras Clave del libro"
                      type="text"
                    />
                  </div>
                  <div class="col-xs-6 col-md-6 form-group">
                    <input
                      class="form-control"
                      [(ngModel)]="book.themes"
                      id="themes"
                      name="themes"
                      placeholder="Temas del libro"
                      type="text"
                    />
                  </div>
                  <div class="col-xs-4 col-md-6 form-group">
                    <input
                      class="form-control"
                      [(ngModel)]="book.copies"
                      id="copies"
                      name="copies"
                      placeholder="copias"
                      type="text"
                    />
                  </div>
                  <div class="col-xs-4 col-md-6 form-group">
                    <input
                      class="form-control"
                      [(ngModel)]="book.avaible"
                      id="avaible"
                      name="avaible"
                      placeholder="disponibles"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-xs-4 col-md-13 form-group">
                  <div class="controls">
                    <textarea
                      class="form-control"
                      [(ngModel)]="book.description"
                      id="description"
                      name="description"
                      placeholder="descripcion"
                      rows="5"
                    ></textarea>
                  </div>
                </div>
                <br />

                <div class="row">
                  <div class="col-xs-12 col-md-12 form-group">
                    <button class="btn btn-primary pull-right" type="submit">
                      Guardar el libro
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
